*,
*::after,
*::before {
  // Global reset
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // Define that 1rem is 10px
  font-size: 62.5%;
}

body {
  // Alternative box-model
  box-sizing: border-box;
}
